ol a {
    display: inline-block;  /* Allows padding/width */
    color: white;
    background: #4f46e5;   /* Indigo-600 */
    padding: 6px 20px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: all 0.3s;
    margin:6px;
  }
  
  ol a:hover {
    background: #4338ca;   /* Darker indigo */
    transform: translateY(-1px); /* Slight lift */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  }